@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../assets/images/image.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}


.roll-enter {
  max-height: 0;
}

.roll-enter-active {
  max-height: 50vh;
  transition: max-height 300ms ease-in-out;
}


.roll-exit {
  max-height: 50vh;
}

.roll-exit-active {
  max-height: 0;
  transition: max-height 300ms ease-in-out;
}